{% extends "opheugeneLibraryBundle::layout.html.twig" %}

{% block title "Library books" %}

{% block content %}
    <h1>Библиотека книг</h1>
    
    <div class="books">
    	{% for book in books %}
    		<div class="item">
    			
    			{# image #}
    			<div class="book-image"><img src="{{ book.cover|showImage(200) }}" alt="{{ book.name }}" /></div>
    			
    			{# info #}
    			<div class="book-info">
	    			<div class="row"><b>Название</b> 	{{ book.name }}</div>
	    			<div class="row"><b>Автор</b> 		{{ book.author }}</div>
	    			<div class="row"><b>Прочтена</b> 	{{ book.read|date('d.m.Y') }}</div>
	    			{% if book.download == true and book.file %}
						<div class="row"><b>&nbsp;</b> <a href="{{ book.file }}" title="Скачать" target="_blank">Скачать</a></div>
					{% endif %}
					
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<div class="row"><b>&nbsp;</b> <a href="{{ path('update', {'id': book.id}) }}">Редактировать</a></div>
					{% endif %}
				</div>
				<div class="clear"></div>
    		</div>
		{% endfor %}
    </div>
    
{% endblock %}
