{% extends "OpheugeneLibraryBundle::layout.html.twig" %}
{% form_theme form 'OpheugeneLibraryBundle:Form:fields.html.twig' %}

{% block title "Добавление новой книги" %}

{% block content %}
    <h1>Добавление новой книги</h1>

    {{ form_start(form, {'attr': {'class': 'book-form', 'novalidate': 'novalidate'}}) }}
	    {{ form_errors(form) }}

	    {{ form_row(form.name) }}
	    {{ form_row(form.author) }}
	    {{ form_row(form.coverPath) }}
	    {{ form_row(form.filePath) }}
	    {{ form_row(form.read) }}
	    {{ form_row(form.download) }}
	{{ form_end(form) }}

{% endblock %}
