{% extends "OpheugeneLibraryBundle::layout.html.twig" %}
{% form_theme form 'OpheugeneLibraryBundle:Form:fields.html.twig' %}

{% block title "Редактирование книги " ~ book.name %}

{% block content %}
    <h1>Редактирование книги {{ book.name }}!</h1>

    <div class="books">
	    <div class="book-image"><img src="{{ book.cover|showImage }}" alt="{{ book.name }}" /></div>

	    <div class="book-form">
		    {{ form_start(form, {'attr': {'class': 'book-form', 'novalidate': 'novalidate'}}) }}
			    {{ form_errors(form) }}

			    {{ form_row(form.name) }}
			    {{ form_row(form.author) }}

				{# cover #}
			    <div class="form_row">
			        {{ form_label(form.coverPath) }}
			        {{ form_errors(form.coverPath) }}
			        <div class="form_widget">
			        	{{ form_widget(form.coverPath) }}
			        	{% if book.cover %}
				        	<small>
				        		<br />Файл: {{ book.cover }}
								<br />{{ form_widget(form.delete_cover) }} {{ form_label(form.delete_cover) }}
							</small>
						{% endif %}
			        </div>
			    </div>

				{# file #}
			    <div class="form_row">
			        {{ form_label(form.filePath) }}
			        {{ form_errors(form.filePath) }}
			        <div class="form_widget">
			        	{{ form_widget(form.filePath) }}
			        	{% if book.file %}
				        	<small>
				        		<br />Файл: {{ book.file }}
								<br />{{ form_widget(form.delete_file) }} {{ form_label(form.delete_file) }}
							</small>
						{% endif %}
			        </div>
			    </div>

			    {{ form_row(form.read) }}
			    {{ form_row(form.download) }}

			    {{ form_row(form.delete) }}
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
